.root {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: auto;

  .input {
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      padding: 12px 20px;
      padding-left: 50px;
      width: 400px;
      border-radius: 10px;
      font-size: 16px;
      transition: .3s;

      &:hover {
        border: 1px solid rgba($color: #000000, $alpha: 0.15);
      }
      &:focus {
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
      }
  }
  .icon {
    position: absolute;
    left: 10px;
    height: 48px;
    opacity: .5;
    width: 30px;

    svg {
        width: 100%;
        height: 100%;
    }
  }
  .close {
    position: absolute;
    right: 10px;
    height: 48px;
    opacity: .5;
    width: 35px;
    cursor: pointer;
    transition: .3s;

    &:hover {
      transform: translateY(1px);
      opacity: .7;
    }

    svg {
      width: 100%;
      height: 100%;
  }
  }
}
